.form_container {
  margin: 20vh auto 0 auto;
  width: 35vw;
  height: 50vh;
  min-height: 25em;
  border-radius: 15px;
  border: 1px solid lightgray;
  box-shadow: 0 0 10px lightgray;
  padding: 10px;
  text-align: center;
  overflow: hidden;
  position: relative;
}
form {
  display: none;
  display: block;
  width: 90%;
  text-align: center;
  margin: 15px auto;
  left: 0;
  position: relative;
  top: 8vh;
  transition: 1s;
}
input,
textarea {
  box-sizing: border-box;
  display: block;
  width: 100%;
  margin: auto;
  margin-bottom: 25px;
  border-radius: 9px;
  outline: none;
  border: 1px solid lightgray;
  padding: 8px 8px;
  height: auto;
  width: 70%;
  transition: 0.3s;
  /*max-width: 20em;*/
}
form a {
  text-decoration: none;
}
form a img {
  width: 3em;
  height: 3em;
  margin: 10px 1em;
  border-radius: 2em;
  transition: 0.5s;
  opacity: 0.2;
}
form a img:hover {
  box-shadow: 0 0 15px blue;
  opacity: 0.7;
}
.sign__head {
  margin: auto;
}
.sign__head div {
  width: 50%;
  margin: 0 auto;
  padding: 2em;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  color: lightgray;
  transition: 0.5s;
}
.sign__head .active {
  border-bottom: 1px solid transparent;
  color: gray;
  box-shadow: 0 5px 5px -5px gray;
}
.sign__head div:hover {
  box-shadow: 0 5px 5px -5px gray;
  border-bottom: 1px solid lightgray;
  color: lightslategrey;
}
.errors {
  margin: 15px auto;
  width: 25vw;
  text-align: center;
  color: red;
  padding: 0;
  transition: 0.5s;
}
.errorlist {
  color: orange;
  font-size: xx-small;
  list-style-type: none;
  padding: 0;
  position: relative;
  top: -1rem;
}
.switch {
  position: absolute;
  bottom: 10px;
  right: 20px;
  color: lightgray;
  font-size: 0.88em;
  cursor: pointer;
  border-bottom: 1px solid lightgray;
  transition: 0.5s;
  padding: 2px 5px;
}
.switch:hover {
  border-bottom: 1px solid lightgray;
  color: gray;
  box-shadow: 0 5px 5px -5px gray;
}
@media screen and (max-height: 690px) {
  .back {
    margin: 10vh auto;
    min-height: 66vh;
    overflow-y: scroll;
    /*min-height: auto;*/
  }
  .switch {
    top: 5px;
    bottom: auto;
  }
  .sign__head {
    visibility: hidden;
  }
}
@media screen and (max-width: 500px) {
  .back {
    width: 75%;
  }
}
label {
  display: inline-block;
  background-size: contain;
}
label.file_icon,
label.image_icon {
  cursor: pointer;
  border: 1px solid lightblue;
  box-shadow: 0 0 15px lightblue;
  border-radius: 32px;
  width: 50px;
  height: 50px;
  transition: 0.5s;
}
label.file_icon,
label.image_icon:hover {
  box-shadow: 0 0 15px blue;
}
input[type=file] {
  opacity: 0;
}
input[type=url] {
  color: darkblue;
  text-decoration: underline;
}
